@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "微軟正黑體";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "微軟正黑體";
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background: #192438;
}
html body {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: auto;
  margin-bottom: 12%;
}
html body main article {
  width: 100%;
  min-width: 1000px;
  height: auto;
  position: relative;
}
html body main article .logo {
  width: 100%;
  height: 0;
  background: url("../images/logo.png") no-repeat;
  background-size: contain;
  padding-top: 14.95%;
  margin-left: 9.15%;
}
html body main article .inputBox {
  width: 100%;
  height: 0;
  background: url("../images/inputBG.png") no-repeat;
  background-size: contain;
  position: relative;
  padding-top: 9.64%;
  margin: 0.1% 0 0 12.45%;
}
html body main article .inputBox input {
  width: 13%;
  height: 28%;
  background: none;
  border: none;
  color: #121212;
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  top: 8.5%;
  left: 3.5%;
}
html body main article .inputBox input:nth-of-type(2) {
  top: 62.5%;
}
html body main article .inputBox button {
  width: 12%;
  height: 106%;
  background: url("../images/loginBtn.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: -3%;
  left: 17.6%;
}
html body main article .inputBox button:hover, html body main article .inputBox button:active, html body main article .inputBox button.active {
  background: url("../images/loginBtn_2.png") no-repeat;
  background-size: contain;
}
html body main article .downBtn {
  width: 21%;
  height: 0;
  background: url("../images/downBtn.png") no-repeat;
  background-size: contain;
  padding-top: 3.13%;
  margin: 0.7% 0 0 13.35%;
}
html body main article .downBtn:hover, html body main article .downBtn:active, html body main article .downBtn.active {
  background: url("../images/downBtn_2.png") no-repeat;
  background-size: contain;
}
html body .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat center;
  background-size: 100%;
  z-index: -999;
}